@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #42bff9;
	--secondary-color: #9eccfd;
	--text-color: white;
	--secondary-text-color: #808ea3;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #808ea3;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #6b7280;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #525863;
}

body {
	background-color: #0f172a;
	overflow-y: hidden;
}
